{% if object.isActivate %}
<a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('disable', object) }}">Disable</a>
{% else %}
<a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('enable', object) }}">Enable</a>
{% endif %}